 .order-form-txt{ /*.f1, .f2, .f3, .f4, p, h1, h2, .subtitle */
    color: white;
    font-family: 'Inter';
}

.order-form-line { 
    border-top: 1px solid white !important;
    opacity: 1 !important;
    width: 75%;
    margin: auto;
}

.f1 {
    font-family: 'Dela Gothic One', cursive !important;
}

.error {
    color: rgb(190, 0, 0);
    margin: 5px;
}

/* Subtitles */
.subtitle-form{
    margin: 1rem auto;
}

/* Subsections */
.subsection-form{
    padding: .5rem;
    /* border-style: solid;
    border-color: #eaeaea; */
    border-width: 1px;
    margin: .5rem auto;
    
}

/* Confirmation */
.confirmation{
    color: rgb(0, 192, 0);
}

select, input {
    display: block;
    box-sizing: border-box;
    width: 50%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    font-size: 14px;
    margin: 1rem auto !important;
}

.deliveryInfo, .contactInfo{
    margin-bottom: 2rem;
}

/* SUBMIT BUTTON */
input[type="submit"] {
    background: #d49506;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: rgb(158, 112, 3);
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

/* PHOTO INPUT STYLING */
.photo-q-fit{
    display: block;
    box-sizing: border-box;
    width: 50%;
    margin: 1rem auto !important;
    text-align: left;
}

.photo-q-box {
    display: inline;
    width: auto !important;
    margin-right: .25rem !important;
    margin-bottom: 0 !important;
}

#photo-q-text {
    display: inline;
    color: white;
    line-height: .25rem;
}